  <div class="container-fluid home-page">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4 pt-logo fm">
        <div *ngIf="message" class="alert alert-{{message.type}} text-center pt-3 pb-3">{{message.message}}</div>
        <form method="post" class="sign-form" [formGroup]="signinForm" (ngSubmit)="sendPasswordReset(signinForm)">
          <div class="text-center pb-5">
            <img src="assets/img/LogoU.png">
          </div>
          <p class="text-justify">Enter your email to receive instructions to reset your password</p>
          <div class="form-group">
            <label for="signInName">Email</label>
            <input type="text" name="email" id="signInName" class="form-control input-login" formControlName="email" value="{{email}}">
          </div>
          <div class="text-center pb-5 pt-4">
            <button type="submit" class="pt-3 pb-3 pl-5 pr-5 btn-login ct-blue-md pointer button-focus-none" [disabled]="!signinForm.valid">
              <app-loading *ngIf="loading"></app-loading>
              Reset Password
            </button>
            <a href="/signin" class="silicon-buton-signin-button pl-4">Cancel</a>
          </div>
        </form>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
