<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col">
    </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-5 pb-5 fm text-center">
        <div class="card">
          <div class="card-body">
              <br>
              <img class="pb-5" src="assets/img/LogoU.png" id="img_project" >
              <h4><strong>{{project.welcomeMessage}}</strong></h4>
              <p>
                {{project.description}}
              </p>
              <p>If you wish to participate in the private presale of the UhX token ongoing now, or you wish to participate in the public token sale on July 2nd, 2018, please fill this form completely.</p>
              <p>Please assure you review and approve the Terms and Conditions.</p>
              <p>
                <span>
                  <b>Website URL</b>
                  <br>
                  <a class="cl-b" [attr.href]="" (click)="goToLink(project.website)" >{{project.website}}</a>
                </span>
                <br>
                <span>
                <a class="cl-b" [attr.href]="" (click)="goToLink(project.whitePaper)" >Read Whitepaper</a>
              </span>
              </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-5 pb-5 fm">
        <div class="card">
          <div class="card-body">
            <form method="post"  [formGroup]="createCustomer" (ngSubmit)="create(createCustomer)">
              <input type="hidden" class="form-control" name="udid"   value="{{udid}}"/>

              <div class="form-group">
                <label for="firstname" class="control-label">First Name</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" [maxlength]="20" class="form-control" name="firstname" id="firstname" formControlName="firstname" placeholder="First Name"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="lastname" class="control-label">Last Name</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" [maxlength]="20" class="form-control" name="lastname" id="lastname" formControlName="lastname" placeholder="Last Name"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="dateBirth" class="control-label">Date of Birth</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-birthday-cake fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <input type="date" class="form-control" min="1900-12-31" name="dateBirth" formControlName="dateBirth" id="dateBirth" value="{{startDate | date:'MM/dd/yyyy'}}" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-envelope fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" [maxlength]="245" class="form-control" name="email" formControlName="email" id="email" placeholder="Email"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="country" class="control-label">Country</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-globe fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <select [(ngModel)]="selectedCountry"  class="form-control" id="country"  formControlName="country"  name="country" >
                      <option value=""  selected="selected">Select a Country</option>
                      <option value="US">United States</option>
                      <option disabled>-------------------------------------------</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Åland Islands</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia, Plurinational State of</option>
                      <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="BN">Brunei Darussalam</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo</option>
                      <option value="CD">Congo, the Democratic Republic of the</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="CI">Côte d'Ivoire</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CW">Curaçao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands (Malvinas)</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard Island and McDonald Islands</option>
                      <option value="VA">Holy See (Vatican City State)</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran, Islamic Republic of</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KP">Korea, Democratic People's Republic of</option>
                      <option value="KR">Korea, Republic of</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Lao People's Democratic Republic</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">Micronesia, Federated States of</option>
                      <option value="MD">Moldova, Republic of</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PW">Palau</option>
                      <option value="PS">Palestinian Territory, Occupied</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Réunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russian Federation</option>
                      <option value="RW">Rwanda</option>
                      <option value="BL">Saint Barthélemy</option>
                      <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="MF">Saint Martin (French part)</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">Saint Vincent and the Grenadines</option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="ST">Sao Tome and Principe</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SX">Sint Maarten (Dutch part)</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">South Georgia and the South Sandwich Islands</option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SD">Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SZ">Swaziland</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="SY">Syrian Arab Republic</option>
                      <option value="TW">Taiwan, Province of China</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania, United Republic of</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">United States</option>
                      <option value="UM">United States Minor Outlying Islands</option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VE">Venezuela, Bolivarian Republic of</option>
                      <option value="VN">Viet Nam</option>
                      <option value="VG">Virgin Islands, British</option>
                      <option value="VI">Virgin Islands, U.S.</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                    </select>
                  </div>
                </div>
              </div>

              <div *ngIf="selectedCountry == 'US'"  class="form-group">
                <label for="state" class="ontrol-label">State</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-location-arrow fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <select [(ngModel)]="selectedState"  class="form-control"  name="state" id="state"  formControlName="state" >
                      <option value="" selected="selected">Select a State</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="billingAddress" class="control-label">Address</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" [maxlength]="245" class="form-control" name="billingAddress" formControlName="billingAddress" id="billingAddress" placeholder="Billing Address"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="typeDocument" class="control-label">Wallet Type</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-wallet fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <select class="form-control" name="typeAddress"  formControlName="typeAddress" id="typeAddress">
                      <option value="neo_address" selected="selected">NEO</option>
                      <option value="bitcoin_address">BTC</option>
                      <option value="etherum_address">ETH</option>
                      <option value="xlm_address">XLM</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="publicaddress" class="control-label">Public Wallet Address</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock-open fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" [maxlength]="245" class="form-control" name="publicAddress" formControlName="publicAddress" id="publicAddress" placeholder="Public Address"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="contribute" class="control-label">Amount to contribute (USD)</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-dollar-sign fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" [maxlength]="245" [(ngModel)]="amountContribute" (keypress)="onlyNumberKey($event)" class="form-control" name="contribute" formControlName="contribute" id="contribute" placeholder="Email"/>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="amountContribute >= 25000">
                <label for="typeDocument" class="control-label">Document Type</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                    </div>
                    <select class="form-control" name="typeDocument" [(ngModel)]="selectedTypeDocument" (change)="changeTypeDocument(selectedTypeDocument)"  formControlName="typeDocument" id="typeDocument">
                      <option value="DL">Driving License</option>
                      <option value="ID">Identity Card</option>
                      <option value="PP">Passport</option>
                      <option value="RP">Residence Permit</option>
                      <option value="UB">Utility Bill</option>
                    </select>
                  </div>
                </div>
              </div>

              <div *ngIf="amountContribute >= 25000"  class="form-group">
                <div class="card text-center" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
                  <h5 *ngIf="!imagePath" class="card-header color-black" >Drag and Drop your<ng-container *ngIf="selectedTypeDocument == 'DL'"> Front-Side </ng-container> Document</h5>
                  <div class="card-body text-center">
                    <img *ngIf="imagePath" src="{{imagePath}}" width="100%" height="100%">
                    <input type="file" class="form-control-file" (change)="uploadImg($event)">
                  </div>
                </div>
              </div>

              <div *ngIf="amountContribute >= 25000 && selectedTypeDocument == 'DL'"  class="form-group">
                <div class="card text-center" dnd-droppable (onDropSuccess)="transferDataSuccess2($event)">
                  <h5 class="card-header">Drag or Upload your Back-Side Document</h5>
                  <div class="card-body text-center">
                    <img *ngIf="imagePath2" src="{{imagePath2}}" width="100%" height="100%">
                    <input type="file" class="form-control-file" (change)="uploadImg2($event)"/>
                  </div>
                </div>
              </div>

              <div class="form-group text-center">
                  <div *ngIf="message" class="alert alert-{{message.type}}-kyc text-center">{{message.message}}</div>
                  <label for="agreed" class="pl-5 pr-5">
                    <input type="checkbox" (change)="agreed = !agreed" class="form-check-input" name="agreed" id="agreed"/>
                    I agree to the<a href="/terms" target="_blank"> terms and conditions </a>of the Universal Healthcoin Token Sale
                  </label>
                  <button class="btn btn-danger btn-submit-kyc" style="width: 100%"  type="submit">
                    <app-loading *ngIf="loading"></app-loading>
                    Submit
                  </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    <div class="col">
    </div>
  </div>
</div>

