<div [class.bg-white-footer]="color=='blue'" class="container-fluid text-center section-footer bg-grey">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 pad">
      <div class="social pt-3 pb-3 ftco-animate">
        <a href="https://www.facebook.com/universalhealthcoin/" target="_blank" [class.social-no-cards]="color=='blue'" class="social"><i class="fab fa-facebook pl-2" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/universalhealthcoin/" target="_blank" [class.social-no-cards]="color=='blue'" class="social"><i class="fab fa-instagram pl-2" aria-hidden="true"></i></a>
        <a href="https://twitter.com/uhxtoken/" target="_blank" [class.social-no-cards]="color=='blue'" class="social"><i class="fab fa-twitter pl-2" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/universal-health-coin/" target="_blank" [class.social-no-cards]="color=='blue'" class="social"><i class="fab fa-linkedin-in pl-2" aria-hidden="true"></i></a>
        <a href="https://t.me/universalhealthcoinx" target="_blank" [class.social-no-cards]="color=='blue'" class="social"><i class="fas fa-paper-plane pl-2" aria-hidden="true"></i></a>
      </div>
      <p class="text-footer"><small>©2018 <a [class.cl-grey]="color=='blue'" class="cl-blue-cel">Universal Health Coin</a></small></p>
    </div>
    <div class="col">
    </div>
  </div>
</div>
