<div class="container-fluid bg-grey fm">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-5 text-center">
      <ng-container *ngIf="subscriber != null">
      <div class="card">
        <div class="card-body">
          <img class="pb-5" src="assets/img/LogoU.png" id="img_project" >
          <h4 ><strong>{{subscriber.project.welcomeMessage}}</strong></h4>
          <br>
          <p >
            {{subscriber.project.description}}
          </p>
          <p >
            <br>
            <span>
          <b>Website URL</b>
          <br>
          <a [attr.href]="" (click)="goToLink(subscriber.project.website)"  target="_blank">{{subscriber.project.website}}</a>
          </span>
            <br>
          <span *ngIf="subscriber.project.whitePaper" >
          <a [attr.href]="" (click)="goToLink(subscriber.project.whitePaper)" >Read Whitepaper</a>
          </span>
          </p>
        </div>
      </div>
      </ng-container>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-5 text-center">
      <ng-container *ngIf="subscriber != null">
      <div class="card">
        <div class="card-body text-left">
          <h3>You have subscribed to the whitelisting process.</h3>
          <h4>Please enter your password and confirm it to create your account.</h4>
          <p>The password must start with a letter, contain a minimum of eight characters, at least one letter, one number and one special character.</p>
          <form method="post"  [formGroup]="createCustomer" (ngSubmit)="confirm_password(createCustomer)">
            <div class="form-group">
              <label for="password" class="control-label">Password</label>
              <div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Password"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirm_password" class="control-label">Confirm Password</label>
              <div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  </div>
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password" formControlName="confirm_password" placeholder="Confirm Password"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <div *ngIf="message" class="alert alert-{{message.type}}-kyc text-center">{{message.message}}</div>
                <div class="col-12 text-center">
                <button class="btn cl-blu-cel" type="submit">
                  <app-loading *ngIf="loading"></app-loading>
                  Create Account
                </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <ng-container *ngIf="subscriber == null">
          <div class="col-md-4 col-md-offset-4 text-center" >
            <app-loading *ngIf="loadingStart"></app-loading>
            <h1 *ngIf="!loadingStart">Invalid Token!</h1>
          </div>
        </ng-container>
        </div>
      </ng-container>
      </div>
    <div class="col">
    </div>
    </div>
  </div>
