@import "~variables.scss";

a {
  color: $secundary-background;
}


.background-variable {
  background-color: $primary-background;

}

p {
  padding-top: 20px;
}

a {
  cursor: pointer;
}

.bg-grey{
  background-color: #F1F2F4;
}

.fm{
  font-family: 'Montserrat', sans-serif;
}

.cl-blu-cel{
  background-color: $secundary-background !important;
  color: white;
}


