<div class="container-fluid bg-grey fm">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-5 text-center">
      <div class="card">
        <div class="card-body">
          <img class="pb-5" src="assets/img/LogoU.png" id="img_project" >
          <h4 ><strong>{{project.welcomeMessage}}</strong></h4>
          <br>
          <p >
            {{project.description}}
          </p>
          <p >
            <br>
        <span>
          <b>Website URL</b>
          <br>
          <a href="{{project.website}}"  >{{project.website}}</a>
        </span>
            <br>
            <span  >
        <a href="{{project.whitePaper}}" >Read Whitepaper</a>
      </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-5 text-center">
      <div class="card">
        <div class="card-body">
          <h4>Thank you for your interest in UhX | Universal Healthcoin.</h4>
          <h4>You will receive an email upon review with further instructions on how to proceed.</h4>
          <h4>
            Be Well, <br>
            The Universal Healthcoin Team.</h4>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <br>
</div>
