$primary-background: #fff;
$primary-color: #000;

$secundary-background: #3597cb;

$content-nav-background: white;

$content-nav-color: #000;

$secundary-color: #000;


$color-font-signin: #000;

$color-button-text: white;
